{% extends 'base.html' %}
{% block title %}Melon Reservations{% endblock %}

{% block body %}

  <h1>Reserve a Time</h1>
  <p>Choose a time on for your melon tasting.</p>

  {% if timeslots|length == 0 %}
  <p>
    Whoops! Looks like there aren't available tastings at that time. <a href="/search">Choose another time range. </a>
  </p>
  </div>
  {% else %}
  <form action="/reserve" method="POST">
    <ul>
  {% for timeslot in timeslots %}
  <li>
    <input type="radio" id="{{timeslot}}" name="timeslot" value="{{timeslot}}">
    <label for="html">{{timeslot}}</label>
  </li>

  {% endfor %}
</ul>
  <button type="submit" name="book_time">Book Time</button>
</form>

{%endif%}
{% endblock %}