{% extends 'base.html' %}
{% block title %}Melon Reservations{% endblock %}

{% block body %}

  <h1>Find a Time!</h1>
  <p>Enter an optimal time range, and we will find available appointments.</p>


  <form action="/booking" method="POST" >
    <div>
      <label for="day">Date:</label>
      <input type="date" id="day" name="day"  min="{{today}}" max="2023-12-31" required>
    </div>
    <div>
      <label for="start-time">Start time:</label>
      <input type="time" id="start" name="start" required>
    </div>
    <div>
      <label for="start-time">End time:</label>
      <input type="time" id="end" name="end" required>
    </div>
    <div>
      <input type="submit">
    </div>
  </form>


{% endblock %}